<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Adik Store</h1>
        <nav>
            <ul>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/sellers">Sellers</a></li>
                <li><a href="/purchases">Purchases</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
