<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль покупателя - ADIK STORE</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .autocomplete-suggestions {
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            z-index: 1000;
            max-width: 200px;
            overflow: hidden;
            border-radius: 5px;
            margin-top: 5px;
        }

        .autocomplete-suggestion {
            padding: 5px;
            cursor: pointer;
            color: black;
        }

        .autocomplete-suggestion:hover {
            background-color: #f0f0f0;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const userInfo = document.getElementById('user-info');
            const searchBox = document.querySelector('.search-box');
            const suggestionsContainer = document.createElement('div');
            suggestionsContainer.className = 'autocomplete-suggestions';
            document.body.appendChild(suggestionsContainer);

            const token = localStorage.getItem('profile_token');
            const userId = window.location.pathname.split('/').pop();

            if (!token) {
                window.location.href = '/';
                return;
            }

            fetch(`/api/profile_customer/${userId}`, {
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
            .then(response => {
                if (response.status === 401 || response.status === 403) {
                    window.location.href = '/';
                    return null;
                }
                return response.json();
            })
            .then(data => {
                if (data) {
                    document.getElementById('user-email').textContent = data.user.email;
                    document.getElementById('user-first-name').textContent = data.user.first_name;
                    document.getElementById('user-last-name').textContent = data.user.last_name;
                    document.getElementById('user-phone').textContent = data.user.phone;
                    document.getElementById('total-orders-value').textContent = data.user.total_orders_value;
                    document.getElementById('purchases-table').innerHTML = data.purchases.map(purchase => `
                        <tr>
                            <td>${purchase.date}</td>
                            <td>${purchase.product_name}</td>
                            <td>${purchase.quantity}</td>
                            <td>${purchase.total_price}</td>
                        </tr>
                    `).join('');
                }
            })
            .catch(error => {
                console.error('Ошибка получения данных профиля', error);
                window.location.href = '/';
            });

            document.getElementById('logout-button').addEventListener('click', () => {
                localStorage.removeItem('access_token');
                localStorage.removeItem('profile_token');
                window.location.href = '/login';
            });

            document.getElementById('change-password-form').addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(event.target);
                const oldPassword = formData.get('old_password');
                const newPassword = formData.get('new_password');
                const confirmPassword = formData.get('confirm_password');

                const passwordRegex = /^(?=.*[A-Z])(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{8,}$/;
                if (newPassword !== confirmPassword) {
                    alert('Новый пароль и подтверждение пароля не совпадают');
                    return;
                }

                if (!passwordRegex.test(newPassword)) {
                    alert('Новый пароль должен быть не менее 8 символов, содержать хотя бы одну заглавную букву или символ');
                    return;
                }

                try {
                    const response = await fetch('/change-password', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'Authorization': `Bearer ${token}`
                        },
                        body: new URLSearchParams({ old_password: oldPassword, new_password: newPassword })
                    });
                    if (response.ok) {
                        alert('Пароль успешно изменен');
                    } else {
                        alert('Ошибка при изменении пароля');
                    }
                } catch (error) {
                    console.error('Ошибка при изменении пароля', error);
                }
            });

            function openTab(event, tabId) {
                const tabContents = document.querySelectorAll('.tab-content');
                tabContents.forEach(content => content.classList.remove('active'));

                const tabButtons = document.querySelectorAll('.tab-button');
                tabButtons.forEach(button => button.classList.remove('active'));

                document.getElementById(tabId).classList.add('active');
                if (event) {
                    event.currentTarget.classList.add('active');
                } else {
                    document.querySelector(`a[href="#${tabId}"]`).classList.add('active');
                }

                // Обновляем URL с новым хэшем
                window.location.hash = tabId;
            }

            // Функция для отображения вкладки при загрузке страницы с хэшем
            function showTabFromHash() {
                const hash = window.location.hash.substring(1);
                if (hash) {
                    openTab(null, hash);
                } else {
                    openTab(null, 'personal-data');
                }
            }

            // Слушаем изменения хэша в адресной строке
            window.addEventListener('hashchange', showTabFromHash);

            // Показать вкладку на основе хэша при загрузке
            showTabFromHash();

            searchBox.addEventListener('input', async (event) => {
                const query = event.target.value;
                if (query.length > 2) {
                    const response = await fetch(`/search-suggestions?query=${query}`);
                    const suggestions = await response.json();
                    showSuggestions(suggestions);
                } else {
                    suggestionsContainer.innerHTML = '';
                }
            });

            searchBox.addEventListener('keydown', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    window.location.href = `/search?query=${encodeURIComponent(searchBox.value)}`;
                }
            });

            function showSuggestions(suggestions) {
                const rect = searchBox.getBoundingClientRect();
                suggestionsContainer.style.left = `${rect.left}px`;
                suggestionsContainer.style.top = `${rect.bottom}px`;
                suggestionsContainer.style.width = `${rect.width}px`;
                if (suggestions.length > 0) {
                    const uniqueSuggestions = [...new Set(suggestions.map(s => s.model_name))];
                    suggestionsContainer.innerHTML = uniqueSuggestions.slice(0, 5).map(suggestion => `
                        <div class="autocomplete-suggestion" data-value="${suggestion}">
                            ${suggestion}
                        </div>
                    `).join('');
                } else {
                    suggestionsContainer.innerHTML = '<div class="autocomplete-suggestion">нет вариантов</div>';
                }
                document.querySelectorAll('.autocomplete-suggestion').forEach(suggestionElement => {
                    suggestionElement.addEventListener('click', (event) => {
                        searchBox.value = event.target.getAttribute('data-value');
                        suggestionsContainer.innerHTML = '';
                        window.location.href = `/search?query=${encodeURIComponent(searchBox.value)}`;
                    });
                });
            }
        });

        function handleImageError(image) {
            image.onerror = null;
            image.src = '/static/default-image.png';
        }

        function redirectToProfile(profileUrl, token) {
            localStorage.setItem('profile_token', token);
            window.location.href = profileUrl;
        }
    </script>
</head>
<body>
    <header>
        <div class="header-container">
            <h1><a href="/">ADIK STORE</a></h1>
            <div class="header-right">
                <input type="text" class="search-box" placeholder="Поиск...">
                <a href="/cart" class="cart-button"><i class="fas fa-shopping-cart"></i> Корзина</a>
                <span id="user-info"></span>
            </div>
        </div>
        <nav>
            <a href="#personal-data" class="tab-button" onclick="openTab(event, 'personal-data')">Личные данные</a>
            <a href="#purchase-history" class="tab-button" onclick="openTab(event, 'purchase-history')">История покупок</a>
        </nav>
    </header>
    <main>
        <div id="personal-data" class="tab-content active">
            <h2>Личные данные</h2>
            <div class="profile-info">
                <div>
                    <label>Email:</label>
                    <span id="user-email"></span>
                </div>
                <div>
                    <label>Имя:</label>
                    <span id="user-first-name"></span>
                </div>
                <div>
                    <label>Фамилия:</label>
                    <span id="user-last-name"></span>
                </div>
                <div>
                    <label>Телефон:</label>
                    <span id="user-phone"></span>
                </div>
            </div>
            <form id="change-password-form">
                <div class="form-group">
                    <label for="old_password">Старый пароль:</label>
                    <input type="password" id="old_password" name="old_password" required>
                </div>
                <div class="form-group">
                    <label for="new_password">Новый пароль:</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Подтвердите новый пароль:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit">Изменить пароль</button>
            </form>
        </div>
        <div id="purchase-history" class="tab-content">
            <h2>История покупок</h2>
            <div class="profile-info">
                <div>
                    <label>Общая сумма ваших покупок:</label>
                    <span id="total-orders-value"></span>
                </div>
            </div>
            <div class="sales-table-container">
                <table class="sales-table">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Товары</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody id="purchases-table">
                        <!-- История покупок -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <button id="logout-button">Выйти</button>
</body>
</html>
