{% extends "base.html" %}

{% block content %}
<h2>Sellers</h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Total Orders Value</th>
    </tr>
    {% for seller in sellers %}
    <tr>
        <td>{{ seller.id }}</td>
        <td>{{ seller.first_name }}</td>
        <td>{{ seller.last_name }}</td>
        <td>{{ seller.email }}</td>
        <td>{{ seller.phone }}</td>
        <td>{{ seller.total_orders_value }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
